$purple: #320E68;
$main-white: #f2f2f2;
$light-purple: #5B2388;
$yellow: #FCF93A;
$font-size-mobile: 2rem;
$font-size-pc: 2.5rem;
$h2-mobile: 6rem;
$h3-mobile: 3rem;
$h2-pc: 6rem;
$h3-pc: 3.5rem;
$transition-speed: 600ms;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}