@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=IBM+Plex+Mono&family=Lato:wght@300;400;700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Barlow+Condensed:ital,wght@1,300&family=IBM+Plex+Mono&family=Lato:wght@300;400;700&family=Montserrat&display=swap');
    
$black: #030303;
$white: #f2f2f2;
$yellow: #E6B420;
$gray: #747D8C;
$px-50: 5rem;
$px-45: 4.5rem;
$px-35: 3.5rem;
$px-30: 3rem;
$px-24: 2.4rem;
$px-20: 2rem;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    padding-bottom: 6rem;
    position: relative;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: $black;
    text-decoration: none;
    font-size: $px-24;
    font-family: Lato;
}
p{
    font-size: $px-24;
    color: $black;
    font-family: Lato;
}
h1,h2,h3,h4,h5,h6{
    font-family: Arvo;

}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    nav{
        width: 100%;
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 10rem;
        a{
            font-weight: lighter;
        }
        #logo{
            height: 7rem;
        }
        ul{
            @include flexCenter(row);
            gap: 3rem;
            list-style-type: none;
            
        }
        #call{
            font-weight: bold;
            padding: 1rem;
            background-color: $white;
            color: #454c56;
        }
    }
}
footer{
    width: 100%;
    height: 5rem;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    p,a{
        font-weight: bold;
        color: $white;
    }
    .icons{
        display: flex;
        gap: 2rem;
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin-top: 10rem;
    width: 100%;
    height: 100%;
    section{
        margin-top: 3rem;
        position: relative;
        @include flexCenter(row);
        // max-height: 60rem;
        // width: 90%;
        display: flex;
        article{
            min-height: 60rem;
            position: relative; 
            color: $white;
            width: 80%;
            display: flex;
            flex-direction: row;
            h1{
                font-size: $px-50;
            }
            p{
                color: $white;
            }
            a{
                color: $white;
            }
            // Home page start
            .left{
                // width: 75%;
                background-image: url(./media/home-taxi.jpg);
                object-fit: fill;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                padding-left: 2rem;
                p{
                    max-width: 80%;
                    font-weight: lighter;
                    
                    
                }
                .shiphol{
                    text-decoration: underline;
                }
                #a-button{
                    all: unset;
                    width: 20rem;
                    padding: 1rem 3rem;
                    background-color: $white;
                    color: #454c56;
                    text-align: center;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 2.4rem;
                    font-family: Lato;
                    margin: 1rem;
                }
            }
            .right{
                width: auto;
                background-color: $yellow;
                @include flexCenter(column);
                gap: 3rem;
                h2{
                    font-size: $px-24;
                    text-align: center;
                }
                img[alt="logo"]{
                    height: 17rem;
                }
                a{
                    width: 80%;
                    padding: 1rem 3rem;
                    background-color: $white;
                    color: #454c56;
                    font-weight: bold;
                    text-align: center;
                }
            }
            // Home page end

        }
    }
        // Page 2 start
        #schiphol{
            @include flexCenter(column);
            gap: 3rem;        
            h1{
                margin-top: 3rem;
                font-size:$px-24; 
                max-width: 50%
            }
            .cards{
                @include flexCenter(row);
                flex-wrap: wrap;
                gap: 4rem;
                margin-bottom: 3rem;
                .card{
                    display: flex;
                    @include flexCenter(column);
                    gap: .5rem;
                    width: 30rem;
                    border: 1px solid $yellow;
                    padding: 1rem;
                    h3{
                        font-size: $px-30;
                        font-weight: lighter;
                    }
                    a{
                        padding: 1rem 3rem;
                        background-color: #747D8C;
                        text-align: center;
                        border-radius: 5px;
                        color: $white;
                    }
                    span{
                        font-size: $px-20;
                        color: $gray;
                    }
                }
            }
        }
            // Page 2 end

            // page 3 start
            .top-taxi{
                width: 100%;
                @include flexCenter(row);
                img[alt="taxi"]{
                    height: 30vh;
                }   
            }
            .more-info{
                @include flexCenter(row);
                justify-content: space-between;
                // flex-wrap: wrap;
                width: 100%;
                padding: 10%;
                gap: 20%;
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    p{
                        font-size: $px-30;
                    }
                    table{
                        width: 33vw;
                        th,td{
                            background-color: #F1F5F9;
                            padding: 0.3rem 1rem;
                            font-size: $px-20;
                        }
                        th{
                            color: $yellow;
                        }
                    }
                }
                .pay-service{
                    @include flexCenter(column);
                    gap: 4rem;
                    .pay{
                        h3{
                            font-size: $px-24;
                            text-align: center;
                            font-weight: normal
                        }
                        .border{
                            @include flexCenter(column);
                            border: 1px solid $gray;
                            min-height: 100%;
                            width: 40rem;
                            padding: 2rem 0;
                            gap: 2rem;
                            p{
                                font-size: 1.5rem;
                                text-align: center;
                            }
                            img{
                                width: 37rem;
                            }
                        }
                    }
                    .service{
                        h3{
                            font-size: $px-24;
                            text-align: center;
                            font-weight: normal
                        }
                        .border{
                            border: 1px solid $gray;
                            min-height: 100%;
                            width: 40rem;
                            padding: 3rem;
                            gap: 2rem;
                            min-height: 25rem;
                            p{
                                color: $white;
                                font-size: $px-24;
                            }
                            background-image: url(./media/airplain.jpg);
                            object-fit: fill;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
            #hz{
                margin: 3rem 0;
                height: 2px;
                width: 100%;
                background-color: $gray;
            }
            .reserveren-form{
                @include flexCenter(column);
                h1{
                    font-size: $px-45;
                    font-weight: normal;
                }
                form{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    margin: 3rem 0;
                    padding: 3rem;
                    width: 100%;
                    min-height: 50vh;
                    height: 100%;
                    background-color: #FFCF4C;
                    position: relative;
                    color: #5A238D;
                    gap: 3rem;
                    flex-wrap: wrap;
                    button{
                        all: unset;
                        cursor: pointer;
                        background-color: $gray;
                        color: $white;
                        padding: 1rem 3rem;
                        border-radius: 10px;
                        position: absolute;
                        bottom: 5%;
                        right: 3%;
                        font-size: $px-20;
                    }
                    .left-form{
                        label[for="bagage"]{
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            div{
                                display: flex;
                                gap: 2rem;
                            }
                        }
                    }
                    .right-form{
                        input[type=text]{
                            border: solid 1.5px #9e9e9e;
                            border-radius: 1rem;
                            // background: none;
                            padding: 1rem;
                            font-size: 2rem;
                            color: #454c56;
                            transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
                            margin: 1rem 0;
                        }
                        input[type=text]:focus{
                            outline: none;
                        }

                    }
                    .left-form,.right-form{
                        .input-group {
                            position: relative;
                           }
                           
                           .input {
                            border: solid 1.5px #9e9e9e;
                            border-radius: 1rem;
                            // background: none;
                            padding: 1rem;
                            font-size: 2rem;
                            color: #454c56;
                            transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
                            margin: 1rem 0;
                            width: 100%;
                           }
                           
                           .user-label {
                            position: absolute;
                            left: 15px;
                            color: $gray;
                            pointer-events: none;
                            transform: translateY(1rem);
                            transition: 150ms cubic-bezier(0.4,0,0.2,1);
                           }
                           
                           .input:focus, input:valid {
                            outline: none;
                           }
                           
                           .input:focus ~ label, input:valid ~ label {
                            transform: translateY(-50%) scale(0.8);
                            padding: 0 .2em;
                            color: $gray;
                           }
                        flex: 1;
                        height: 35vh;
                        display: flex;
                        flex-direction: column;
                        label{
                            font-size: $px-24;
                        }
                        h3{
                            font-size: $px-24;
                            margin: 1rem 0;
                        }
                        .date{
                            display: flex;
                            flex-direction: column;
                        }
                        label[for='retour'],label[for='aantal']{
                            margin: 1rem 0;
                        }
                    }
                }
                .value-button {
                    display: inline-block;
                    border: 1px solid #ddd;
                    margin: 0px;
                    width: 40px;
                    height: 20px;
                    text-align: center;
                    vertical-align: middle;
                    padding: 11px 0;
                    background: #eee;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }
                  
                  .value-button:hover {
                    cursor: pointer;
                  }
                  .aantal-number{
                    display: flex;
                  }
                  form #decrease {
                    margin-right: -4px;
                    border-radius: 8px 0 0 8px;
                    height: 100%;
                  }
                  
                  form #increase {
                    margin-left: -4px;
                    border-radius: 0 8px 8px 0;
                    height: 100%;
                  }
                  
                  form #input-wrap {
                    margin: 0px;
                    padding: 0px;
                  }
                  
                  input#number {
                    text-align: center;
                    border: none;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    margin: 0px;
                    width: 40px;
                    // height: 40px;
                  }
                  
                  input[type=number]::-webkit-inner-spin-button,
                  input[type=number]::-webkit-outer-spin-button {
                      margin: 0;
                  }
            }
            // page 3 end

            // page 4 start

            .over{
                padding: 3 5rem;
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
                h1{
                    font-size: $px-35;
                }
                .over-content{
                    @include flexCenter(row);
                    margin-bottom: 3rem;
                    gap: 2rem;
                    .over-text{
                        @include flexCenter(column);
                        p{
                            line-height: 2;
                            font-size: $px-20;
                            max-width: 70rem;
                        }
                    }
                    img{
                        height: 80vh;
                    }

                }

            }
}
// #over-footer{
//     width: 100%;
//     height: 5rem;
//     background-color: $yellow;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0 10rem;
//     position: static;
//     left: 0;
//     bottom: 0;
//     p,a{
//         font-weight: bold;
//         color: $white;
//     }
//     .icons{
//         display: flex;
//         gap: 2rem;
//     }
// }
        // page 4 end

@media only screen and (max-width: 900px) {
    header{
        
        nav{
            display: flex;
            flex-direction: column;
            opacity: 95%;
            z-index: 50;
            position: fixed;
            bottom: 0;
            left: 0;
            top: -100%;
            width: 100%;
            height: 100%;
            transition: 600ms ease-in-out;
            .menu-btn {
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
                margin-top: 2rem;
                margin-left: 2.5rem;
                position: fixed;
                top: 0;
                right: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                height: 5rem;
                cursor: pointer;
                transition: all .5s ease-in-out;
              }
              .menu-btn-burger {
                width: 50px;
                height: 6px;
                background: #454c56;
                border-radius: 5px;
                transition: all .5s ease-in-out;
              }
              .menu-btn-burger::before,
              .menu-btn-burger::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 6px;
                background: #454c56;
                border-radius: 5px;
                transition: all .5s ease-in-out;
              }
              .menu-btn-burger::before {
                transform: translateY(-16px);
              }
              .menu-btn-burger::after {
                transform: translateY(16px);
              }
              /* ANIMATION */
              .menu-btn.open .menu-btn-burger {
                // transform: translateX(-50px);
                background: transparent;
              }
              .menu-btn.open .menu-btn-burger::before {
                transform: rotate(45deg);
              }
              .menu-btn.open .menu-btn-burger::after {
                transform: rotate(-45deg);
              }
              
            ul{
                display: flex;
                flex-direction: column;
            }
        }
    }
    nav.nav-open{
        top: 0;
        transition: 600ms ease-in-out;
    }
    @keyframes nav-load {
     0%{
       transform: translateY(-100%);
     }
     100%{
       transform: translateY(0);
     }
    }
    main{
        section{
            article{
                display: flex;
                flex-direction: column;
                margin-bottom: 10rem;
                width: 95%;
                h1{
                    font-size: $px-35;
                }
                p{
                    font-size: $px-20;
                }
                #a-button{
                    width: unset;
                    width: 50%;
                    padding: 1rem 3rem;
                    background-color: #f2f2f2;
                    color: #454c56;
                    text-align: center;
                    font-weight: bold;
                }
                .left,.right{
                    padding: 2rem;
                    
                }
                .left{
                    p{
                        max-width: 100%;
                    }
                }
                
            }
        }
        .over {
            padding: 1rem;
            h1{
                font-size: $px-30;
            }
            .over-content{
            flex-direction: column;
            p{
                font-size: 1.8rem;
            }
            img{
                height: 60vh;
            }
        }
    }
        .more-info{
            flex-direction: column;
        }
        .reserveren-form{
            h1{
                font-size: $px-35;
                text-align: center;
            }
            form {
            flex-direction: column;
            width: 80%;
            button{
                position: unset;
            }
            }
        }
        #schiphol h1{
            font-size: $px-20;
            max-width: 70%;
        }
    }
    footer{
        height: unset;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        position: absolute;
        bottom: unset;
    }
}